<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<RollingFile name="RollingFile" filename="Logs/SysAnatomy.log"
			filepattern="Logs/archive/example1.log.%d{yyyy-MM-dd-hh-mm}.gz">
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>